@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --animation-speed: 6s; 
    --road-animation-speed: 9s; 
}

body, html{
    background-color: black !important;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    max-width: 100vw !important;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 48px;
}

html{
    display: flex;
    flex-direction: column;
}

#titolo{
    margin: 0 auto;
}

#optionTab{
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 3rem;
}

.opt-container{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0.3rem;
    align-items: center;
    gap: 0.3rem;
}

.option-button{
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 3rem;
    border: 1px solid transparent;
}

.option-button, .optionTab h5, .optionButton .p, .p,  .opt{
    user-select: none !important;
}

.option-button:hover{
    border: 0;
    background-color: white;
    border-radius: 100%;
    color: black;
}

.option-button:active{
    border: 0;
    background-color: white;
    border: 1px solid blue;
    color: blue;
}


.pointsDisplay{
    display: flex;
    text-align: center;
    justify-content: center;
}

.pointsH1{
    color: white;
}

.restartButton-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.restartButton{
    margin: 15px;
    padding: 5px 15px;
    font-size: 2rem;
    background-color: blue;
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    -webkit-box-shadow: 10px 5px 28px -15px rgba(255,255,255,1);
    -moz-box-shadow: 10px 5px 28px -15px rgba(255,255,255,1);
    box-shadow: 10px 5px 28px -15px rgba(255,255,255,1);
}

.restartButton:hover{
    background-color: white;
    color: black;
}

.restartButton:active{
    background-color: white;
    color: red;
}